@model IEnumerable<NguyenVietDiep791.Models.NVD0791>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NVDName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NVDGender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NVDName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NVDGender)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NVDId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NVDId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NVDId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
